body {
    background:#000 url(smokee.png);
    background-repeat: no-repeat;
    background-size: cover; 
    
}

.header1 {
    text-transform: capitalize;
    color: plum;
    margin-left: 2rem;
    font-weight: 300;
}
.img2 {
    color: #fff;
    outline: 1px solid #ff0000
}
.social {
    position: relative;
    width: 15rem;
    height: 10rem;
    background-color: #3d3c3c;
    /* margin: 0 auto; */
    /* border-radius: 1rem; */
    /* border: 2px solid red; */
    /* top: 3rem; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.842);
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
.social a{
    width: 25%;
    margin-left: 1.375rem;
} 
.social p {
    color: #fff;
}

.header2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
    margin-left: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    text-shadow: 2px 2px 4px #615e5e;
    
}
.ver-line {
    border-left: 1px solid #fff;
    height: 100%;
}
